/* Paleta de colores */
:root {
    --color-primary: #25e4bc;
    --color-secondary: #3f8978;
    --color-accent: #aef055;
    --color-background: #e0ffc3;
    --color-text: #514442;
    --color-background-light: #f4f4f4;
}

/* General */
body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-text);
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Encabezado */
header {
    background: transparent;
    color: white;
    padding: 1rem;
    width: 100%;
    z-index: 10;
    transition: background 0.3s ease;
}

header.header-scrolled {
    background: rgba(0, 0, 0, 0.8);
}

header .brand {
    font-size: 1.5rem;
    font-weight: bold;
}

header nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

/* Estilos para el menú de hamburguesa */
.hamburger {
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-menu {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    width: 200px;
    height: 100vh;
    background-color: var(--color-primary);
    transition: right 0.3s ease;
    padding-top: 5rem;
}

.nav-menu a {
    color: white;
    margin: 1rem 0;
    text-align: center;
}

.nav-menu.active {
    right: 0;
}

@media (min-width: 768px) {
    .nav-menu {
        position: static;
        flex-direction: row;
        height: auto;
        background-color: transparent;
        padding-top: 0;
    }

    .nav-menu a {
        margin: 0 1rem;
    }
}

.navbar-custom{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 5;
}
.navbar-custom .nav-item .nav-link{
    color: #ffffff;   
    opacity: 0.8;
}
.navbar-custom .nav-item .nav-link:hover{
    opacity: 1;
}
.navbar-custom .navbar-nav{
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: #1e1e1e;
    padding-left: 15px;
}


.btn-primary {
    background-color: var(--color-accent);
    border: none;
    color: var(--color-text);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
}

.btn-primary:hover {
    background-color: var(--color-secondary);
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--color-background-light);
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--color-background-light);
}

.phero {
    color: var(--color-background-light);
}

.h2hero {
    color: var(--color-background-light);
}

.img-caract {
    max-width: 300px;
    height: 300px;
    overflow-x: hidden;
}

.img-caract img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Hero Section */
.hero-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.hero-section .container {
    max-width: 700px;
    z-index: 2;
}

.hero-section h1,
.hero-section h2,
.hero-section p {
    margin-bottom: 1.5rem;
}

.hero-section h1 {
    text-transform: uppercase;
    font-weight: 700;
}

.hero-section .btn-accent {
    background-color: var(--color-accent);
    border: none;
    color: var(--color-text);
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #3f8978;
}

.hero-section .btn-accent:hover {
    background-color: var(--color-secondary);    
    color: #ffffff;
}

/* Interactive Background */
.interactive {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.15), transparent 70%);
    opacity: 0.5;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

/* Gradient Background Animation */
.gradient-background {
    background: linear-gradient(284deg,#56f27d,#16bbcf,#3eb612,#558bc8);
    background-size: 240% 240%;
    animation: gradient-animation 28s ease infinite;
}
.gradient-background::before{
    background-image: url(img/bg.jpeg);
    content: '';
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    opacity: 0.1;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Sección */
section {
    padding: 2rem 1rem;
}

.section-title {
    color: var(--color-secondary);
    margin-bottom: 1.5rem;
}

/* Características Principales */
.feature-detail {
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.s-features {
    background-color: rgb(251 251 251 / 89%) !important;
    background-image: url(img/bg3.jpeg);
    background-blend-mode: screen;
    background-size: cover;
}
.features1{
    background-image: url(img/features1.jpg);
    min-height: 500px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    width: 48%;
    color: #ffffff;
}
.features2{
    background-image: url(img/features2.jpg);
    min-height: 500px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    width: 48%;
    color: #ffffff;
}
.features1 .text, 
.features2 .text{
    background-color: rgb(62 182 18 / 94%);
    border-radius: 15px;
    padding: 25px;
}

#lottie-staking,
#lottie-max-supply {
    width: 100%;
    height: auto;
}

.separator {
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, var(--color-primary), var(--color-secondary));
}

/* Razones para Invertir */
.s-reasons{
    min-height: 100vh;
}
#reasons {
    background-color: var(--color-background);
}

.reason-box {
    background-color: var(--color-secondary);
    color: var(--color-text);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reason-box i {
    color: var(--color-accent);
}

.reason-item {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reason-item img {
    max-width: 80px;
}

/* Casos de Uso */
.s-use-cases{
    min-height: 100vh;
}
#use-cases {
    background-color: var(--color-background-light);
}

.bento-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.bento-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bento-item.large {
    grid-column: span 2;
    grid-row: span 2;
}

.bento-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.bento-item:hover img {
    transform: scale(1.1);
}

.bento-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    padding: 20px;
}

.bento-item:hover .overlay {
    opacity: 1;
}

/* Suscripción Section */
#subscribe {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #aef055;
    opacity: 1;
    background-repeat: repeat;
    background-blend-mode: multiply;
    background-image: url(img/bg2.jpeg);
}

.glass-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 24px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#subscribe h2 {
    color: var(--color-background-light);
    margin-bottom: 20px;
}

#subscribe .form-control {
    max-width: 300px;
    border-radius: 5px 0 0 5px;
    border: 2px solid var(--color-background-light);
}

#subscribe .btn-primary {
    border-radius: 0 5px 5px 0;
    /* border: 2px solid var(--color-background-light); */
    background-color: var(--color-accent);
    color: var(--color-secondary);
}

#subscribe .btn-primary:hover {
    background-color: darken(var(--color-accent), 10%);
    border-color: darken(var(--color-accent), 10%);
}

/* Pie de página */
footer {
    background-color: var(--color-secondary);
    color: white;
    padding: 1rem;
}

footer a {
    color: var(--color-accent);
    margin: 0 0.5rem;
}

footer p {
    margin: 0;
}
